{{- if and .Values.dataPlane .Values.dataPlane.components .Values.dataPlane.components.clickhouse .Values.dataPlane.components.clickhouse.enabled }}
{{- $secretName := "clickhouse-secrets" }}
{{- if and .Values.dataPlane .Values.dataPlane.components .Values.dataPlane.components.clickhouse .Values.dataPlane.components.clickhouse.secrets .Values.dataPlane.components.clickhouse.secrets.name }}
{{- $secretName = .Values.dataPlane.components.clickhouse.secrets.name }}
{{- end }}
{{- /* Check preserveExistingSecrets flag - if true, skip secret creation (secrets are pre-generated) */}}
{{- $preserveSecrets := false }}
{{- if and .Values.dataPlane .Values.dataPlane.preserveExistingSecrets }}
  {{- $preserveSecrets = .Values.dataPlane.preserveExistingSecrets }}
{{- end }}
{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace $secretName) }}
{{- /* Only create secret if preserveExistingSecrets is false AND secret doesn't exist */}}
{{- if and (not $preserveSecrets) (not $existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: Opaque
data:
  {{- if and $preserveSecrets $existingSecret (hasKey $existingSecret.data "CLICKHOUSE_USER") }}
  CLICKHOUSE_USER: {{ index $existingSecret.data "CLICKHOUSE_USER" | quote }}
  {{- else }}
  CLICKHOUSE_USER: {{ .Values.dataPlane.components.clickhouse.user | default "neuraltrust" | b64enc }}
  {{- end }}
  {{- if and $preserveSecrets $existingSecret (hasKey $existingSecret.data "CLICKHOUSE_DATABASE") }}
  CLICKHOUSE_DATABASE: {{ index $existingSecret.data "CLICKHOUSE_DATABASE" | quote }}
  {{- else }}
  CLICKHOUSE_DATABASE: {{ .Values.dataPlane.components.clickhouse.database | default "neuraltrust" | b64enc }}
  {{- end }}
  {{- if and $preserveSecrets $existingSecret (hasKey $existingSecret.data "CLICKHOUSE_HOST") }}
  CLICKHOUSE_HOST: {{ index $existingSecret.data "CLICKHOUSE_HOST" | quote }}
  {{- else }}
  CLICKHOUSE_HOST: {{ printf "%s.%s.svc.cluster.local" (.Values.dataPlane.components.clickhouse.host | default "clickhouse") .Release.Namespace | b64enc }}
  {{- end }}
  {{- if and $preserveSecrets $existingSecret (hasKey $existingSecret.data "CLICKHOUSE_PORT") }}
  CLICKHOUSE_PORT: {{ index $existingSecret.data "CLICKHOUSE_PORT" | quote }}
  {{- else }}
  CLICKHOUSE_PORT: {{ .Values.dataPlane.components.clickhouse.port | default "8123" | b64enc }}
  {{- end }}
{{- end }}
{{- end }}