apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ if and .Values.dataPlane .Values.dataPlane.components .Values.dataPlane.components.clickhouse .Values.dataPlane.components.clickhouse.configmap }}{{ .Values.dataPlane.components.clickhouse.configmap.name | default "clickhouse-init-job" }}{{ else }}clickhouse-init-job{{ end }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: data-plane
    app.kubernetes.io/instance: {{ .Release.Name }}
    component: clickhouse
data:
  init-db.sql: |
{{ .Files.Get "files/clickhouse/init-db.sql" | indent 4 }} 