apiVersion: v1
kind: Service
metadata:
  name: kafka-connect-svc
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: kafka-connect
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: 8083
